button, input, table, textarea, p {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.leftcontent{
	float:left; 
	width:45%;
	padding-right:5%;
	-webkit-box-shadow: -2px 2px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    -2px 2px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         -2px 2px 5px 2px #ccc;
}

.rightcontent{
	float:left; 
	width:45%;
	padding-left:5%;
	-webkit-box-shadow: -2px 2px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    -2px 2px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         -2px 2px 5px 2px #ccc;
}

/*--------------------*/
/* Radiobutton styles*/
/*--------------------*/
.radio-toolbar input[type="radio"] {
	margin-left: 20px;
	margin-right: 20px;
	}
.radio-toolbar label {
    background:Red;
    border:1px solid green;
    padding:2px 10px;
}

/*-----------------*/
/* Text Box styles*/
/*----------------*/
.inputFocusGlow{
	border: 2px solid rgba(81, 203, 238, 1);
}

.inputRedText{
	color: #ff0000;
}

.inputBlueText{
	color: #0000ff;
}

.inputYellowMatrix{
	background-color: #444444;
	color: #ffd800;
	border-radius: 7px;
	font-size: 40px;
	line-height: 40px;
	height: 45px;
}

.inputYellowMatrix:focus{
	outline: none;
	border: 3px solid #ffd800;
}

.largeInput{
	font-size: 60px;
	line-height: 60px;
	height: 65px;
}

.smallInput{
	font-size: 10px;
	line-height: 10px;
	height: 15px;
}

.dollaBillz{
	color: rgb(92, 184, 92);
}

.input-group-addon {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

/*Fixes a bug with the Group Add Ons not sizing correctly*/
.input-group .form-control {
    margin: 0px !important;
}

/*--------------*/
/* Table Styles */
/*--------------*/

.inverseTable{
	color: #ffffff;
	background-color: #000000;
}

.smallTable{
	border: 1px solid black;
}

.bigPadding{
	padding-top: 12px;
    padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
}

.greenHeader{
	background-color: #3DCC00;
	color: #ffffff;
}

/*----------------*/
/* Button Styles */
/*--------------*/

.glass{
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	border-radius: 3px;
	box-shadow: 0px 1px 4px -2px #333;
	text-shadow: 0px -1px #333;
}

.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.whiteGlass{
	background: #ffffff;
	background-image: linear-gradient(#7F7F7F,#ffffff);
	color: #000000;
}

.blackGlass{
	background: #000000;
	background-image: linear-gradient(#8E8E8E,#000000);
	color: #ffffff;
}

.redGlass{
	background: #ff0000;
	background-image: linear-gradient(#820000,#ff0000);
	color: #ffffff;
}

.redCircle{
	padding: 40px 20px;
	border-radius: 50%;
	border: 1px solid;
	background-color: #ff0000;
	font-weight: bold;
}